{% extends './common/base.html' %}

{% block content %}
<div class="input">
<label for="a">Введите число А</label>
<input type="number" name="a" id="a">
<label for="b">Введите число В</label>
<input type="number" name="b" id="b">

<div class="buttons">
  <button class="btn btn-primary btn" id="add" href="">+</button>
  <button class="btn btn-primary btn" id="subsrtact" href="">-</button>
  <button class="btn btn-primary btn" id="divide" href="">/</button>
  <button class="btn btn-primary btn" id="multiply" href="">*</button>
</div>
</div>



{%endblock%}
